#turn on url rewriting 
RewriteEngine on

#remove the need for .php extention 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

RewriteRule ^product/([0-9a-zA-Z]+) product.php?callback=$1
RewriteRule ^user/([0-9a-zA-Z]+) user.php?callback=$1
RewriteRule ^state/([0-9a-zA-Z]+) state.php?callback=$1
RewriteRule ^city/([0-9a-zA-Z]+) city.php?callback=$1
RewriteRule ^country/([0-9a-zA-Z]+) country.php?callback=$1

RewriteCond %{HTTP_HOST} ^http://localhost:8080$
RewriteRule ^(.*)$ http://www.thenewdomain.net/$1